[submodule "libs/bot_server_client_cpp/websocketpp"]
	path = libs/bot_server_client_cpp/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "libs/bot_server_client_cpp/json"]
	path = libs/bot_server_client_cpp/json
	url = https://github.com/nlohmann/json
[submodule "apps/telegram_client/tgbot-cpp"]
	path = apps/telegram_client/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
